<%- include('partials/header') %>
<main>
    <h1 class="main-title text-center m-3 color"><strong>Các nhóm hàng</strong></h1>


    <h3 id="form-button">&#x2795; Thêm nhóm hàng</h3>
    <form id="category-form" method="POST" action="/category">
        <label for="categoryName" class="form-label me-2">Tên nhóm hàng:</label>
        <input type="text" class="form-control me-2 border-black" id="categoryName" name="categoryName" required>
        <label for="categoryDescription" class="form-label me-2">Mô tả:</label>
        <textarea class="form-control me-2 border-black" id="categoryDescription" name="categoryDescription" rows="5" required></textarea>
        <label for="categoryImage" class="form-label me-2">URL hình ảnh:</label>
        <input type="text" class="form-control me-2 border-black" id="categoryImage" name="categoryImage">
        <button type="submit" class="submit-button">Thêm</button>
    </form>

    <hr>

    <div class="category-list">
        <% categories.forEach(category => { %>
            <a href="/product/<%= category._id %>" class="category-link">
                <div class="category-item">
                    <div class="first-column">
                        <h3><%= category.name %></h3>
                        <% if (category.image) { %>
                            <img src="<%= category.image %>" alt="Category Image">
                        <% } else { %>
                            <img src="/placeholder.png" alt="No Image Available">
                        <% } %>
                    </div>
                    <div class="second-column">
                        <p><%= category.description %></p>
                        <form method="POST" action="/category/delete/<%= category._id %>" onsubmit="return confirm('Bạn có chắc chắn muốn xóa nhóm hàng này không?');">
                            <button type="submit" class="delete-button">&#10060; Xóa</button>
                        </form>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>
</main>
<script>
    //Toggle category form visibility
    let formButton = document.getElementById('form-button');
    let categoryForm = document.getElementById('category-form');
    
    formButton.addEventListener('click', () => {
        if (categoryForm.classList.contains('visible') === false) {
            categoryForm.classList.toggle('visible');
            formButton.innerHTML ="&#x2796; Ẩn biểu mẫu";
        } else {
            categoryForm.classList.toggle('visible');
            formButton.innerHTML ="&#x2795; Thêm nhóm hàng";
        }
    });
</script>
<%- include('partials/footer') %>